body {
  background:lightpink;
  font-family: Merriweather, sans-serif;
  font-size: 125%;
}
.nav-wrapper .brand-logo img {
    height: 56px;
    vertical-align: top;
    padding-left: 5px;
    padding-right: 3px;
}
.nav-wrapper .brand-logo img:hover, .nav-wrapper .brand-logo span:hover  {
    opacity: 0.6;
}
.nav-wrapper i {
  font-size: 64px !important;
  padding-right: 16px;
}
.nav-wrapper i:hover {
  opacity: 0.6;
}
.nav-wrapper .valign-wrapper {
  height: 64px;
}
.nav-wrapper #username_text {
  padding: 16px;
}
.my-container {
  display: flex;
  align-items: flex-start
}
header {
  text-align:center
}
#main_form {
  border-style: solid;
  border-color: lightgreen;
  padding: 5px;
  margin: 10px;
}
h2 {
  font-size: 32px;
}
.input-field {
  margin-top: 24px;
}
.input-field > label {
  font-size: 1.2rem !important;
  color: black
}
.input-field > label.active {
  font-size: 1.7rem !important;
  color: black !important;
}
input {
  display: block;
  margin-bottom: 10px;
}
fieldset {
  border: none;
  padding: 0px;
  margin-bottom: 16px;
  margin-left: 0px;
  margin-right: 0px;
}
legend {
  margin-bottom: 3px;
}
.display-block {
  display:block
}
.display-block > span {
  color: black;
}
input[type="number"] {
  width: 250px;
  height: 25px;
}
.wrapper {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
}
.panel {
  border-style: solid;
  border-color: lightgreen;
  margin: 10px;
  padding: 5px;
}